app:
  version_check_url: "https://raw.githubusercontent.com/sansan0/TrendRadar/refs/heads/master/version"
  show_version_update: true

crawler:
  request_interval: 1000
  enable_crawler: true
  use_proxy: false
  default_proxy: "http://127.0.0.1:10086"

report:
  mode: "incremental"  # 改为增量监控模式
  rank_threshold: 5

notification:
  enable_notification: true
  message_batch_size: 4000
  dingtalk_batch_size: 20000
  feishu_batch_size: 29000
  batch_send_interval: 3
  feishu_message_separator: "━━━━━━━━━━━━━━━━━━━"

  push_window:
    enabled: true  # 启用时间窗口
    time_range:
      start: "09:00"  # 工作时间开始
      end: "18:00"    # 工作时间结束
    once_per_day: false  # 每次执行都推送
    push_record_retention_days: 7

  webhooks:
    feishu_url: ""  # 留空，通过GitHub Secrets配置
    dingtalk_url: ""
    wework_url: ""
    telegram_bot_token: ""
    telegram_chat_id: ""
    email_from: ""
    email_password: ""
    email_to: ""
    email_smtp_server: ""
    email_smtp_port: ""
    ntfy_server_url: "https://ntfy.sh"
    ntfy_topic: ""
    ntfy_token: ""

weight:
  rank_weight: 0.7  # 更看重排名
  frequency_weight: 0.2
  hotness_weight: 0.1

platforms:
  - id: "toutiao"
    name: "今日头条"
  - id: "baidu"
    name: "百度热搜"
  - id: "weibo"
    name: "微博"
  - id: "douyin"
    name: "抖音"
  - id: "zhihu"
    name: "知乎"
  - id: "bilibili-hot-search"
    name: "bilibili 热搜"
